[Desktop Entry]
Version=1.0
Type=Application
Name=Spyder
Exec=spyder --project /home/jovyan/WorkshopTransposones
Icon=/home/jovyan/binder/spyder/spyder.svg
Path=/home/jovyan/Desktop
