[Desktop Entry]
Version=1.0
Type=Application
Name=Web Browser
Exec=/bin/bash -c "exec ${HOME}/binder/web_browser/start.py"
# FIXME: Don't hardcode Path?
Icon=/home/jovyan/binder/web_browser/browser.png
Path=/home/jovyan/Desktop
